<div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- BreadCrumbs -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

<!-- Cascaron inicial de todas las páginas dentro del area de trabajo -->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div> -->
<!-- fin Cascaron. -->

        </div>
        <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2021 Admin Pro by wrappixel.com
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
    </div>


</div>